<h1 mat-dialog-title> Modificación de cliente</h1>
<div mat-dialog-content>
    <form [formGroup]="applicantForm">
        <mat-form-field>
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni" type="text" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text" [(ngModel)]="data.nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos" type="text" [(ngModel)]="data.apellidos">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Saldo</mat-label>
            <input matInput formControlName="saldo" type="number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="tlf" type="number" [(ngModel)]="data.tlf">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" [(ngModel)]="data.email">
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Guardar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</div>